<% title "Student" %>
<table>
<tr><td>
  <strong>Firstname</td><td>
  <%= show.stud_firstname %>
</td></tr>
<tr><td>
  <strong>Lastname</td><td>
  <%= show.stud_lastname %>
</td></tr>
<tr><td>
  <strong>Sex</td><td>
  <%= show.stud_sex %>
</td></tr>
<tr><td>
  <strong>DOB</td><td>
  <%= show.stud_dob %>
</td></tr>
<tr><td>
  <strong>Father Name</td><td>
  <%= show.stud_father_name %>
</td></tr>
<tr><td>
  <strong>Mother Name</td><td>
  <%= show.stud_mother_name %>
</td></tr>
<tr><td>
  <strong>Guardian Name</td><td>
  <%= show.stud_guardian_name %>
</td></tr>

<tr><td>
  <strong>Address</td><td>
  <%= show.student_address %>
</td></tr>
<tr><td>
  <strong>Identification</td><td>
  <%= show.stud_identification %>
</td></tr>
<tr><td>
  <strong>Contact Number</td><td>
  <%= show.stud_contact_number %>
</td></tr>
<tr><td>
  <strong>Blood Group</td><td>
  <%= show.stud_blood_group %>
</td></tr>
<tr><td>
  <strong>Religion</td><td>
  <%= show.stud_religion %>
</td></tr>
<tr><td>
  <strong>Nationality</td><td>
  <%= show.stud_nationality %>
</td></tr>
<tr><td>
  <strong>Mother Tounge</td><td>
  <%= show.stud_mother_tounge %>
</td></tr>
<tr><td>
  <strong>Date Of Joining</td><td>
  <%= show.stud_date_of_joining %>
</td></tr>
<tr><td>
  <strong>Active</td><td>
  <%= show.stud_active %>
</td></tr>
<tr><td>
  <strong>Cast</td><td>
  <%= show.sub_cast.cast_with_subcast_name %>
</td></tr>

</table>
